absl-py>=0.10.0
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828496740/work
astor>=0.8.1
astroid>=2.3.3
astunparse>=1.6.3
attrs>=19.3.0
backcall>=0.2.0
bleach>=3.1.5
cachetools>=4.1.1
certifi>=2020.4.5.1
cffi @ file:///tmp/build/80754af9/cffi_1596809862272/work
chardet>=3.0.4
colorama>=0.4.3
configparser>=5.0.0
crayons>=0.3.0
cycler>=0.10.0
decorator>=4.4.2
defusedxml>=0.6.0
entrypoints>=0.3
flatbuffers>=1.12
gast>=0.3.3
google-auth>=1.20.1
google-auth-oauthlib>=0.4.1
google-pasta>=0.2.0
grpcio>=1.32.0
h5py>=2.10.0
idna>=2.9
imageio>=2.9.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446433964/work
imutils>=0.5.3
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447367857/work
ipython-genutils>=0.2.0
ipywidgets>=7.5.1
isort>=4.3.21
jedi @ file:///tmp/build/80754af9/jedi_1592841914522/work
Jinja2>=2.11.2
joblib>=0.16.0
jsonschema>=3.2.0
jupyter>=1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console>=6.1.0
jupyter-core>=4.6.3
Keras>=2.2.4
Keras-Applications>=1.0.8
Keras-Preprocessing>=1.1.2
kiwisolver>=1.2.0
lazy-object-proxy>=1.4.3
Markdown>=3.2.2
MarkupSafe>=1.1.1
matplotlib>=3.3.0
mccabe>=0.6.1
mistune>=0.8.4
nbconvert>=5.6.1
nbformat>=5.0.7
networkx>=2.4
notebook @ file:///tmp/build/80754af9/notebook_1596838602091/work
numpy>=1.19.2
oauthlib>=3.1.0
opencv-contrib-python>=4.4.0.40
opencv-python>=4.2.0.34
opt-einsum>=3.3.0
packaging>=20.4
pandas>=1.1.0
pandocfilters>=1.4.2
parso>=0.7.0
pexpect>=4.8.0
pickleshare>=0.7.5
Pillow>=7.1.2
progressbar2>=3.51.4
prometheus-client>=0.8.0
prompt-toolkit>=3.0.5
protobuf>=3.13.0
ptyprocess>=0.6.0
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pygame>=1.9.6
Pygments>=2.6.1
pylint>=2.4.4
pyparsing>=2.4.7
pyrsistent>=0.16.0
pytesseract>=0.3.4
python-dateutil>=2.8.1
python-utils>=2.4.0
pytz>=2020.1
PyWavelets>=1.1.1
PyYAML>=5.3.1
pyzmq>=19.0.1
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy>=1.9.0
requests>=2.23.0
requests-oauthlib>=1.3.0
rsa>=4.6
scikit-image>=0.17.2
scikit-learn>=0.23.2
scipy>=1.4.1
seaborn>=0.10.1
Send2Trash>=1.5.0
six>=1.15.0
sklearn>=0.0
SpeechRecognition>=3.8.1
tb-nightly>=2.4.0a20201024
tensorboard>=1.12.2
tensorboard-plugin-wit>=1.7.0
tensorflow-estimator>=2.3.0
tensorflow-gpu>=1.12.0
termcolor>=1.1.0
terminado>=0.8.3
testpath>=0.4.4
tf-estimator-nightly>=2.4.0.dev2020102301
tf-nightly>=2.5.0.dev20201024
threadpoolctl>=2.1.0
tifffile>=2020.7.24
tornado>=6.0.4
tqdm>=4.50.2
traitlets>=4.3.3
typed-ast>=1.4.1
typing-extensions>=3.7.4.3
urllib3>=1.25.9
virtualenv>=16.7.9
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings>=0.5.1
Werkzeug>=1.0.1
widgetsnbextension>=3.5.1
wrapt>=1.12.1
zipp>=3.1.0
